<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rog.umk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoumk"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoumk"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Firebase Notifications -->
        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".Product.Product" />
        <activity android:name=".Order.koperasiMyOrder" />
        <activity android:name=".Order.viewOrder" />
        <activity android:name=".Product.ProductSearch" />
        <activity android:name=".Admin.viewSolve" />
        <activity android:name=".Admin.viewUnsolve" />
        <activity android:name=".Login_Reg.login" />
        <activity android:name=".Login_Reg.register" />
        <activity android:name=".Admin.viewUnsolveDetail" />
        <activity android:name=".Admin.viewSolveDetail" />
        <activity android:name=".Product.productDetail" />
        <activity
            android:name=".Product.addNewProduct"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Product.addOrder" />
        <activity android:name=".Profile.askForHelp" />
        <activity android:name=".test" />
        <activity android:name=".Login_Reg.registerSeller" />
        <activity android:name=".testScan" />
        <activity android:name=".Profile.profile" />
        <activity android:name=".Profile.userProfileDetail" />
        <activity android:name=".Profile.profilePerniagaan" />
        <activity android:name=".Product.cart" />
        <activity android:name=".addService" />
        <activity android:name=".Order.koperasiList" />
        <activity android:name=".qrCode" />
        <activity android:name=".User.userHelp" />
        <activity android:name=".Order.generateQr" />
        <activity android:name=".Admin.event" />
        <activity android:name=".addEarningExpenses" />
        <activity android:name=".Admin.ListOfSeller" />
        <activity android:name=".viewEvent" />
        <activity android:name=".Admin.reportModule" />
        <activity android:name=".Admin.viewEvent" />
        <activity android:name=".User.editProfile" />
        <activity android:name=".Order.Message">

        </activity>
    </application>

</manifest>